
html,
body,
.container-fluid {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h2 {
  font-size: 2rem;
  font-weight: 700;
}

p.text-muted {
  font-size: 1.25rem;
}


.card h4,
.card p {
  margin: 0.25rem 0;
}


.btn-primary {
  background-color: #65478f;
  border: none;
}

.btn-primary:hover {
  background-color: #523c6f;
}


.user-action-btn {
  width: 130px;
}


.modal-backdrop.show {
  opacity: 0.5;
}


.water-sleep-card {
  background-color: white;
  min-height: 180px;
}

.bi-cup-fill {
  color: #d3d3d3;
  transition: color 0.3s;
}

.bi-cup-fill.filled {
  color: #3e8ed0;
}

.drink-btn,
.save-btn {
  background-color: #65478f;
  color: white;
  border: none;
  cursor: pointer;
}

.drink-btn:hover,
.save-btn:hover {
  background-color: #523c6f;
}


.modal-horizontal {
  max-width: 900px;
  width: 90%;
}

.modal-body form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 768px) {
  .modal-body form {
    grid-template-columns: 1fr;
  }
}
