html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  overflow-y: auto;
}

.nav-link.active {
  background-color: #0d6efd;
  color: white !important;
  font-weight: 600;
  border-radius: 0.375rem;
}


canvas {
  width: 100% !important;
  height: 360px !important;
}
.card-header {
  background-color: white;
  color: black;
  font-weight: 600;
  border-bottom: none;
  border-radius: 0.375rem 0.375rem 0 0;
  padding: 0.75rem 1.25rem;
}
.exercise-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: rgba(101, 71, 143, 0.15); /* #65478F renginin %15 opaklığı */
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.exercise-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 4px;
  flex-shrink: 0;
  border: 1px solid #ccc;
}

.exercise-text strong {
  display: block;
  color: #65478F; /* Başlıklarda da aynı mor-mavi ton */
  font-size: 1rem;
}

.exercise-text small {
  color: #6c757d;
  font-style: italic;
}
