<div class="card p-3" style="background-color: #fff;">
  <div>
    <h5>Slept Hours Today</h5>
    <p>{{ hoursSlept !== null ? hoursSlept + ' Hours' : 'Not Saved Yet' }}</p>

    <div *ngIf="hoursSlept === null">
      <input type="number" [(ngModel)]="inputHours" placeholder="Enter Your Sleep Duration" min="0" />
      <button (click)="saveSleepHours()" [disabled]="loading" style="margin-left: 20px;">Save</button>
      <p style="color:red" *ngIf="errorMsg">{{errorMsg}}</p>
    </div>
  </div>
</div>
