:host {
  display: flex;
  flex-direction: column;
  width: 280px;
  flex-shrink: 0;
  height: 100vh;
  background-color: white;
  border-right: 1px solid #ddd;
  padding: 1rem;
}

.logo img {
  max-height: 200px;
  max-width: 100%;
  margin-bottom: 100px;
  padding-right: 50px;
}

nav {
  height: 100vh;
  padding-left: 50px;
}





