services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: 1233
      MYSQL_DATABASE: exercisedb
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 5

  backend:
    build:
      context: .
    ports:
      - "5000:5000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_URI: "mysql+pymysql://root:1233@db:3306/exercisedb"
    command: ["sh", "-c", "sleep 5 && python wsgi.py"]

  frontend:
    build:
      context: ../
    ports:
      - "4200:4200"
    depends_on:
      - backend

volumes:
  mysql_data:
